.work-experience-section {
  height: 100vh;
  width: 100%;
}

.work-experience-zone {
  height: 80vh;
  width: 65%;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  justify-content: start;
}

.work-experience-h1 {
  font-family: 'Helvetica Neue';
  font-size: 85px;
  letter-spacing: -1px;
  margin: 0px;
  margin-bottom: 50px;
}

.work-experience-items {
  height: 100%;
  display: flex;
}

.work-experience-logos {
  width: 40%;
}

.work-experience-data {
  width: 60%;
}

.company-logo {
  height: 15vh;
  width: 15vh;
  padding: 1vh;
  border-radius: 50%;
  transition: color 0.2s;
}

.work-experience-job-title {
  font-family: 'Helvetica Neue';
  font-size: 35px;
  letter-spacing: -1px;
  margin: 0px;
}

.work-experience-company {
  font-family: 'Helvetica Neue';
  font-size: 35px;
  letter-spacing: -1px;
  margin: 0px;
  font-weight: 300;
}

.work-experience-span {
  font-family: 'Helvetica Neue';
  font-size: 35px;
  letter-spacing: -1px;
  margin: 0px;
  font-weight: 300;
  font-style: italic;
}

.work-experience-description {
  transition: color 0.2s;
}

.work-experience-button {
  width: 25%;
}

.initiator-logo:hover .st1 { fill: #39CCFF; transition: fill 0.2s; }
.initiator-logo.selected .st1 { fill: #39CCFF; transition: fill 0.2s; }

.fly-logo:hover .st3 { fill: #D486FE; transition: fill 0.2s; }
.fly-logo.selected .st3 { fill: #D486FE; transition: fill 0.2s; }

.koble-logo:hover .st4 { fill: #4AFFA8; transition: fill 0.2s; }
.koble-logo:hover .st5 { fill: #000000; transition: fill 0.2s; }
.koble-logo.selected .st4 { fill: #4AFFA8; transition: fill 0.2s; }
.koble-logo.selected .st5 { fill: #000000; transition: fill 0.2s; }

.makor-logo:hover .st8 { fill: #440595; transition: fill 0.2s; }
.makor-logo.selected .st8 { fill: #440595; transition: fill 0.2s; }

.rouvenat-logo:hover .st6 { fill: #C6633D; transition: fill 0.2s; }
.rouvenat-logo.selected .st6 { fill: #C6633D; transition: fill 0.2s; }

.xapien-logo:hover .st7 { fill: #1DCCBF; transition: fill 0.2s; }
.xapien-logo.selected .st7 { fill: #1DCCBF; transition: fill 0.2s; }
