.work-experience-section {
  height: 100vh;
  width: 100%;
}

.work-experience-zone {
  height: 80vh;
  width: 65%;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  justify-content: start;
}

.work-experience-h1 {
  font-family: 'Helvetica Neue';
  font-size: 85px;
  letter-spacing: -1px;
  margin: 0px;
  margin-bottom: 50px;
}

.work-experience-items {
  height: 100%;
  display: flex;
}


.work-experience-choices {
  width: 25%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.choice {
  background-color: #F5F5F5;
  border-radius: 50px;
  height: 50px;
  box-sizing: border-box;
  padding-left: 25px;
  padding-right: 25px;
  display: flex;
  align-items: center;
  transition: background-color ease 0.2s;
}

.choice:hover {
  background-color: #D9D9D9;
}

.choice.selected {
  background-color: #000000;
  color: white;
  fill: white;
}

.work-experience-arrow {
  margin-left: auto;
}

hr {
  border: 0.1px solid black;
}

.work-experience-data {
  width: 60%;
}

.company-logo {
  height: 15vh;
  width: 15vh;
  padding: 1vh;
  border-radius: 50%;
  transition: color 0.2s;
}

.work-experience-job-title {
  font-family: 'Helvetica Neue';
  font-size: 35px;
  letter-spacing: -1px;
  margin: 0px;
}

.work-experience-company {
  font-family: 'Helvetica Neue';
  font-size: 35px;
  letter-spacing: -1px;
  margin: 0px;
  font-weight: 300;
}

.work-experience-span {
  font-family: 'Helvetica Neue';
  font-size: 35px;
  letter-spacing: -1px;
  margin: 0px;
  font-weight: 300;
  font-style: italic;
}

.work-experience-description {
  transition: color 0.2s;
}

.work-experience-button {
  width: 25%;
}

.company-logo {
  width: 120px;
  height: 120px;
  background: black;
  transition: background 0.2s;
  margin-right: 15px;
  margin-bottom: 15px;
}

.company-logo:hover {
  background: linear-gradient(90deg, #000000, #068F38, #EA5920, #FCEB3B);
}

.company-logo.selected {
  background: linear-gradient(90deg, #000000, #068F38, #EA5920, #FCEB3B);
}
