@font-face {
  font-family: 'Inter';
  src: url('../../fonts/Inter-Regular.ttf') format('truetype');
  font-style: normal;
}

@font-face {
  font-family: 'DMMono';
  src: url('../../fonts/DMMono-Regular.ttf') format('truetype');
  font-style: normal;
}

.overview-section {
  height: 100vh;
  width: 100%;
}

.overview-zone {
  height: 75vh;
  width: 55%;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  justify-content: start;
}

.overview-h1 {
  font-family: 'Helvetica Neue';
  font-size: 85px;
  letter-spacing: -1px;
  margin: 0px;
  margin-bottom: 10px;

}

.overview-p {
  font-family: 'Inter';
}
