button {
  height: 45px;
  width: 18%;
  margin-top: 15px;
  font-family: 'DMMono';
  border: none;
  background-color: #F5F5F5;
  text-align: center;
  transition: background-color 0.2s ease;
}

button:hover {
  color: white;
  background-color: black;
}
